
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Diablo 3 Ladder</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body> 

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Diablo 3 Ladder</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li class="active"><a href="#">Refresh</a></li>
                  <li>
                    <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        Dropdown
                        <span class="caret"></span>                        
                      </button>
                    </div>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
    
        <div class="col-md-6 table-centered">
          <table class="table">
            <thead>
              <tr>
                <th class="text-center">Paragon</th>
                <th class="text-center">Character </th>
                <th class="text-center">Level</th>
                <th class="text-center">Class</th>
                <th class="text-center">Player</th>
                <th class="text-center">Dead</th>
              </tr>
            </thead>
            <tbody>
              {% for hero in heroes %}
                <tr>
                  <td>{{hero["paragonLevelSeasonHardcore"] }}</td>
                  <td>{{hero["name"] }}</td>
                  <td>{{hero["level"] }}</td>
                  <td>{{hero["class"] }}</td>
                  <td>{{hero["battleTag"] }}</td>
                  <td>{{hero["dead"] }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
